link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
link(rel='stylesheet' href='../../stylesheets/login.css')


head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  link(rel='stylesheet' href='../../stylesheets/login.css')

  body#loginForm
   .container
    .login-form
     .main-div
      .panel
       if info && info.message
        div.alert.alert-danger
          =errors.message
       h2 Recuperacion de password
       p Revise su correo, le llegara unas instrucciones para el cambio de password 
      form#login(action='/forgotPassword' method='post')
       .form-group
        input#username.form-control(type="email" placeholder='email address' name='email')
       button.btn.btn-primary(type='submit') Resetear

       a.regresar(href='/login') Regresar
