extends ../layout


block content
 .container
  a#volver(href="/bicicletas/create") Mi Nueva bicicleta 
  a#volver(href="/") home

  table.table.table-dark
    thead
      tr
        th(scope='col') #
        th(scope='col') color
        th(scope='col') modelo
        th(scope='col') ubicacion
        th(scope='col')
        th(scope='col')

    tbody
      each bici in bicis
        tr
          td(scope='row')
            = bici.code
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a(href='bicicletas/' + bici.code + '/update') editar
          td 
            form.inline(method='post' action='bicicletas/'+ bici.id+'/delete')
              input(type='hidden' name='code' value=bici.code)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-primary')
                ='Eliminar'