extends ../layout

block content
 a#volver(href="/bicicletas") volver
  
  
 .card
  br
  h1 actualizando bicicleta
  

  form.form-group(action=`/bicicletas/${bici.id}/update` method='post')
    label(for="code") Code:
    input#code.form-control(type='text' name='code' value=bici.code)
    
    label(for="color") Color:
    input#color.form-control(type='text' name='color' value=bici.color)
    
    label(for="modelo") Modelo:
    input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
    
    label(for="lat") Latitud:
    input#latitud.form-control(type='text' name='lat' value=bici.ubicacion[0])
    
    label(for="lng") Longitud:
    input#longitud.form-control(type='text' name='lng' value=bici.ubicacion[1])
    br
    button.btn.btn-primary(type='submit')  agregar 
